:root {
    --water: #6890f0;
    --grass: #78c850;
    --fire: #f05030;
    --electric: #f8d030;
    --psychic: #f85888;
    --ice: #98d8d8;
    --dragon: #7038f8;
    --dark: #705848;
    --normal: #a8a878;
    --fighting: #903028;
    --flying: #a890f0;
    --poison: #a040a0;
    --ground: #e0c068;
    --rock: #b8a038;
    --ghost: #705898;
    --steel: #b8b8d0;
    --bug: #68a090;
    --fairy: #f492a5;

    --font-principal: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-principal);
    color: rgb(39, 35, 35);
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg {
    width: 100%;
    height: 100%;
}

main {
    background-color: rgb(151, 0, 0);
    max-width: 1000px;
    width: 1000px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    position: absolute;
}

.pokedex {
    background: url('./imagens/pokedexBg.jpg') no-repeat;
    background-size: cover;
    width: 90%;
    height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#pokedexSpace {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px 20px 5px 20px;
}

.poke_img {
    width: 125px;
    height: 125px;
}

.pokemon {
    text-align: center;
    margin-top: 10px;
    border-radius: 15px;
    padding: 10px;
    color: aliceblue;
    cursor: pointer;
    width: 200px;
    height: 200px;
}

.pokemon:hover {
    scale: 1.05;
    transition: 0.5s ease-in-out;
}

.poke-name {
    padding-top: 30px;
}

#add_button {
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

.button_div {
    text-align: center;
    padding: 10px;
    display: block;
}

#dark-theme img {
    width: 30px;
    height: 30px;
}

#dark-theme {
    background: transparent;
    border: none;
}

#dark-theme img:hover {
    transform: scale(1.2);
    transition: ease-in-out 0.1s;
    cursor: pointer;
}

.button-container {
    position: absolute;
    top: 20px;
    right: 45px;
}

.btn-back {
    background-color: #6890f0;
    border-radius: 15px;
    padding: 5px 15px;
    border: 1px solid;
}

.btn-back:hover {
    background-color: #b8a13885;
}

#pokemon-data {
    width: 100%;
    height: 100%;
    display: none;
    padding: 10px;
    color: white;
}

.pokeStatus {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

#pokeStatus__img {
    width: 250px;
    height: 250px;
}

.pokeStatus__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 26px;
    padding: 30px;
}

.bgChange {
    background: none;
    background-color: rgb(122, 109, 109);
}

#pokeMoves {
    display: flex;
    background-color: rgba(0, 0, 255, 0.089);
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    gap: 25px;
    list-style: decimal;
    width: 350px;
    height: 300px;
    padding: 20px 50px;
    border-radius: 15px;
    font-size: 15px;
    color: white;
    font-weight: 700;
}

.status__types{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom: 10px;
}

#pokeTypes{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.pokeStatus__container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.pokeTypes__type{
    border-radius: 15px;
    padding: 5px 15px;
}

@media screen and (min-width: 375px) and (max-width: 1440px) {

    main {
        background-color: rgb(151, 0, 0);
        max-width: 600px;
        width: auto;
        height: 400px;
    }

    #pokedexSpace {
        margin: 10px;
    }


    .poke_img {
        width: 80px;
        height: 80px;
    }

    .pokemon {
        margin-top: 10px;
        padding: 10px;
        width: 180px;
        height: 155px;
    }

    .poke-name {
        padding-top: 15px;
    }


    #dark-theme img {
        width: 25px;
        height: 25px;
    }

    .button-container {
        top: 10px;
        right: 30px;
    }

    #pokemon-data {
        width: auto;
        height: auto;
        padding: 10px 20px 0px 0px;
    }

    #pokeStatus__img {
        width: 150px;
        height: 150px;
    }

    .pokeStatus__items {
        flex-direction: column;
    }

    .pokeStatus {
        display: flex;
        flex-direction: column;
    }

    #pokeMoves {
        gap: 25px;
        width: 225px;
        height: 200px;
        padding: 10px 25px;
        font-size: 12px;

    }

    .btn-back{
        margin-left: 5px;
    }

}